<%-include('./Partials/Header.ejs')%>
<%-include('./Partials/Navi.ejs')%>
<link href="../public/css/birth.css" type="text/css" rel="stylesheet">
</link>
<div class="container">
  <div class="border border-secondary rounded mt-2 p-2">
    <div class="row mt-2 mb-2" id="monthFilter">
      <!--전체보기-->
    </div>
    <div class="row mt-2" id="monthFilter1">
      <!--1월~6월-->
    </div>
    <div class="row mt-2" id="monthFilter2">
      <!--7월~12월-->
    </div>
  </div>
  <div id="students mt-3" class="row mt-4">
    <div class="row">
      <div class="col-7"><span class="fw-bold fs-4" id="titletext"></span></div>
      <div class="col-5"><button id="copybtn" class="btn btn-success">명단복사</button></div>
    </div>
    <ul id="birthList" class="list-group mt-2">

    </ul>
  </div>
</div>
<script src="/public/js/birth.js"></script>