<%-include('./Partials/Header.ejs')%>
<%-include('./Partials/Navi.ejs')%>

<head>
  <link href="../public/css/face.css" type="text/css" rel="stylesheet">
  </link>
  <script>
    var user = <%- JSON.stringify(user) %>;
    console.log("user:", user);
  </script>
</head>

<input type="file" id="avatarUpload" accept="image/*" required style="display: none;">
<div class="container">
  <button class="btn btn-light mx-1 my-2" id="filterToggle" type="button">필터 닫기</button>
  <div class="row border border-secondary rounded mb-4 mx-1" id="filter">
    <div class="col" id="ui_part">
      <div class="form-check"> </div>
    </div>
    <div class="col" id="ui_grade">
      <div class="form-check"> </div>
    </div>
    <div class="col mb-3" id="ui_class">
      <div class="form-check"> </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mx-2" id="ui_student_list">
  </div>
</div>
<script src="/vendors/faceapi/face-api.min.js"></script>
<script src="/public/js/face.js?v=2"></script>