<%-include('./Partials/Header.ejs')%>
<%-include('./Partials/Navi.ejs')%>
<script>
  var referer = '<%= before %>';
</script>

<body>

</body>
<link href="../public/css/login.css" type="text/css" rel="stylesheet"></link>
<script src="/public/js/login.js?v=1"></script>