<%-include('./Partials/Header.ejs')%>
<%-include('./Partials/Navi.ejs')%>

<head>
  <link href="../public/css/search.css" type="text/css" rel="stylesheet">
  </link>
</head>

<body>
  <div class="container">
    <div class="inputfield">
      <input type="number" maxlength="1" class="input" disabled />
      <input type="number" maxlength="1" class="input" disabled />
      <input type="number" maxlength="1" class="input" disabled />
      <input type="number" maxlength="1" class="input" disabled />
    </div>
    <div class="buttonContainer">
      <button id="submit" onclick="init();">초기화</button>
    </div>
  </div>
  <div class="searchResult">

  </div>
  <div id="overlay">

  </div>
  <div id="modal">
    <div class="input-group">
    <label class="input-label" for="name">이름:</label>
    <input class="input-field" type="text" id="name" placeholder="이름">
  </div>
  <div class="input-group">
    <label class="input-label" for="phoneNumber">전화번호:</label>
    <input class="input-field" type="text" id="phoneNumber" placeholder="전화번호">
  </div>
  <div class="input-group">
    <label class="input-label" for="car_number_full">차량번호:</label>
    <input class="input-field" type="text" id="car_number_full" placeholder="차량번호">
  </div>
  <div class="input-group">
    <label class="input-label" for="car_number_4digit">4자리:</label>
    <input class="input-field" type="text" id="car_number_4digit" placeholder="차량번호4자리">
  </div>
  <div class="input-group">
    <label class="input-label" for="car_type">차량타입</label>
    <input class="input-field" type="text" id="car_type" placeholder="차량번호">
  </div>
  <div class="input-group">
    <label class="input-label" for="part">봉사부서</label>
    <input class="input-field" type="text" id="part" placeholder="봉사부서">
  </div>
  <div class="input-group">
    <label class="input-label" for="regdate">입력일자</label>
    <input class="input-field" type="text" id="regdate" placeholder="입력일자">
  </div>
  <div class="input-group">
    <label class="input-label" for="note">비고</label>
    <input class="input-field" type="text" id="note" placeholder="비고">
  </div>
    <button id="confirmButton">확인</button>
  </div>
</body>
<script src="/public/js/search.js?v=2"></script>