

<!-- Copyright -->
<div class="pt-3"></div>
    <footer class="text-center p-0" style="background-color: rgba(0, 0, 0, 0.2);">
    <pre>갈보리 초등부</pre>
    </footer>
</div>
<!-- Copyright -->

</body>

</html>