<link href="../public/css/neu_nav.css" type="text/css" rel="stylesheet">
</link>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<nav class="navbar navbar-expand-sm navbar-light neu-navbar sticky-top">
  <a class="nav-link" aria-current="page" href="/search"><i class="fa-solid fa-car-side"></i></a>
  <a class="nav-link" aria-current="page" href="/search-info"><i class="fa-solid fa-search"></i></a>
  <a class="nav-link" aria-current="page" href="/search-camera"><i class="fa-solid fa-camera"></i></a>
  <a class="nav-link" aria-current="page" href="/logout"><i class="fa-solid fa-power-off"></i></a>
</nav>

<script>
  $(".nav-link").each((index, nav) => {
    if (window.location.pathname === $(nav).attr("href")) {
      $(nav).addClass("active");
    } else {
      $(nav).removeClass("active");
    }
  })
</script>