<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>갈보리초등부</title>
    <%-include('./vendors.ejs')%>
    <style type="text/css">
      @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
      body {
        font-family: "Nanum Gothic";
        font-weight: 700;
        font-stretch: normal;
      }
    </style>
  </head>
  <body></body>
</html>
