        body {
            background-color: #e0e0e0;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        .btn {
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px rgba(255, 255, 255, 0.8);
        }

        .btn:hover {
            box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1), inset -2px -2px 5px rgba(255, 255, 255, 0.8);
        }

        .list-group-item {
            background-color: #e0e0e0;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px rgba(255, 255, 255, 0.8);
            
        }

        .border {
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px rgba(255, 255, 255, 0.8);
        }

        .s_cnt{
            display:inline-block;
            min-width:30px;
        }

        .s_class{
            display:inline-block;
            min-width:60px;
        }

        .s_name{
            display:inline-block;
            min-width:80px;
        }

        .s_birth{
            display:inline-block;
            min-width:20px;
        }