.main-preview-player {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.video-js,
.playlist-container {
  position: relative;
  width: 300px;
  min-height:200px;  
  height:430px;
}

.video-js {
  flex: 3 1 55%;
}

.playlist-container {
  flex: 1 1 35%;
}

.vjs-playlist {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.vjs-playlist .vjs-playlist-description {
  overflow:visible; 
  font-size:9px;
}
